# --- Docker ---
.dockerignore

# --- Miscellaenous Project Stuff ---
Makefile

# --- Java / JVM ---
*.jar
*.war
*.ear

# --- OS Junk ---
.directory
.DS_Store

# --- Gradle ---
!gradle/wrapper/gradle-wrapper.jar
gradlew.bat
.gradle

# --- IntelliJ IDEA ---
.idea

# --- Vert.x ---
.vertx

# --- Python ---
*.pyc