# --- Docker ---
.dockerignore

# --- Miscellaenous Project Stuff ---
*.md
LICENSE
NOTICE
Makefile
bootstrap
bin
kube
build
sentinel-web
src/kube-bootstrap

# --- Java / JVM ---
*.jar
*.war
*.ear

# --- OS Junk ---
.directory
.DS_Store

# --- Gradle ---
!gradle/wrapper/gradle-wrapper.jar
gradlew.bat
.gradle

# --- IntelliJ IDEA ---
.idea
*.iml

# --- Vert.x ---
.vertx

# --- Python ---
*.pyc