# --- Java ---
build
target

# --- Vert.x ---
.vertx

# --- Python ---
*.pyc
venv

# --- Eclipse ---
.project

# --- IntelliJ ---
.idea
*.iml

# --- K Desktop Environment ("KDE") ---
.directory

# --- Mac OS X ---
.DS_Store

# --- Gradle ---
.gradle

# --- Secrets ---
*.key
*.pem
*.p12
*.pkcs12
*.jks
*.jceks
*.password
*.passwd

# --- Temporary Bootstrapping ---
bootstrap